<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Furniture Store{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('routes_blueprint.index') }}">Home</a></li>
            <li><a href="{{ url_for('routes_blueprint.all_products') }}">Products</a></li>
            <li><a href="{{ url_for('routes_blueprint.cart') }}">Cart</a></li>
            <li><a href="{{ url_for('routes_blueprint.about') }}">About Us</a></li>
            <li><a href="{{ url_for('routes_blueprint.contact') }}">Contact</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('routes_blueprint.order_history') }}">Order History</a></li>
            <li><a href="{{ url_for('routes_blueprint.logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for('routes_blueprint.login') }}">Login</a></li>
            <li><a href="{{ url_for('routes_blueprint.signup') }}">Register</a></li>
        {% endif %}
        </ul>
    </nav>

     <!-- Flash Messages -->
     {% with messages = get_flashed_messages(with_categories=true) %}
     {% if messages %}
         <div class="flash-messages">
             {% for category, message in messages %}
                 <div class="alert {{ category }}">{{ message }}</div>
             {% endfor %}
         </div>
     {% endif %}
     {% endwith %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer> 
         <p>Follow us on:
            <a href="#">Facebook</a>,
            <a href="#">Twitter</a>,
            <a href="#">Instagram</a>
        </p>
    </footer>

</body>
</html>
