{% extends 'base.html' %}

{% block title %}Home - Furniture Store{% endblock %}

{% block content %}
<h1>Welcome to Our Furniture Store</h1>
<!-- Featured Products Section -->
<section class="featured-products">
    <h1>Featured Products</h1>
    <div class="product-list">
        {% for product in featured_products %}
        <div class="product">
            <h2>{{ product.name }}</h2>
            <img src="{{ url_for('static', filename='images/' ~ product.image_url) }}" alt="{{ product.name }}">
            <p>{{ product.description | truncate(150) }}</p>
            <p>Price: ${{ product.price }}</p>
            <a href="{{ url_for('routes_blueprint.product_details', product_id=product.id) }}">View Details</a>
        </div>
        {% endfor %}
    </div>
    <a href="{{ url_for('routes_blueprint.all_products') }}">View All Products</a>
</section>

<!-- About Us Section -->
<section class="about-us">
    <h2>About Us</h2>
    <p>Learn more about our mission and the quality of our handcrafted furniture.</p>
    <a href="{{ url_for('routes_blueprint.about') }}">Learn More About Us</a>
</section>

<!-- Contact Section -->
<section class="contact">
    <h2>Contact Us</h2>
    <p>Have questions? Our friendly staff is here to help!</p>
    <a href="{{ url_for('routes_blueprint.contact') }}">Get in Touch</a>
</section>



{% endblock %}
