{% extends 'base.html' %}

{% block title %}Login - Furniture Store{% endblock %}

{% block content %}
<div class="login-form">
    <h1 class="login-heading">Login</h1>
    <form action="{{ url_for('routes_blueprint.login') }}" method="post">
        <input type="text" name="username" placeholder="Username" required autocomplete="username">
        <input type="password" name="password" placeholder="Password" required>
        <div class="button-container">
        <button class="login-button" type="submit">Login</button>
        </div>
    </form>
</div>
{% endblock %}
