{% extends 'base.html' %}

{% block title %}{{ product.name }} - Furniture Store{% endblock %}

{% block content %}
<div class="product-details">
    <h1>{{ product.name }}</h1>
    <img src="{{ url_for('static', filename='images/' ~ product.image_url) }}" alt="{{ product.name }}">
    <p>{{ product.full_description }}</p>
    <p>Price: ${{ product.price }}</p>
    <!-- Additional details like dimensions, materials, etc. -->

    <!-- Add to Cart Form -->
    <form action="{{ url_for('routes_blueprint.add_to_cart', product_id=product.id) }}" method="post">
        <input type="hidden" name="product_id" value="{{ product.id }}">
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" value="1" min="1">
        <button type="submit">Add to Cart</button>
    </form>
</div>
{% endblock %}

